# Setting initial Setup

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Loading the Dataset

* This is the original or actual dataset

In [2]:
loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col=0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col=0 , header=None)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col=0)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col=0 , header=None)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\446117156.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col=0 , header=None)

* New data

In [3]:
loan_data_backup = pd.read_csv('../support files/Loan data 2015/loan_data_2015.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\408302731.py:1: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv('../support files/Loan data 2015/loan_data_2015.csv')

## Explore Data

In [4]:
loan_data = loan_data_backup.copy()
pd.options.display.max_columns = None

In [5]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,Foreign Service Officer,10+ years,MORTGAGE,128000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,200xx,DC,6.46,0.0,Feb-90,0.0,46.0,NaN,17.0,0.0,14277,27.4,46.0,w,35000.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,56.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,321.0,146867.0,1.0,11.0,0.0,0.0,28.0,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,Associate Consultant,< 1 year,MORTGAGE,100000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,462xx,IN,7.28,0.0,Jul-01,0.0,NaN,NaN,15.0,0.0,7158,26.7,24.0,w,8650.0,8650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,165450.0,0.0,1.0,1.0,1.0,11.0,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,mechanic,5 years,RENT,35000.0,Source Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,672xx,KS,15.22,2.0,Jul-11,0.0,18.0,NaN,6.0,0.0,1058,24.6,6.0,w,4225.0,4225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,4888.0,0.0,1.0,0.0,0.0,47.0,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,CARDIOVASCULAR TECH,10+ years,RENT,42500.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,460xx,IN,31.04,0.0,Dec-98,1.0,NaN,NaN,10.0,0.0,5812,40.9,23.0,w,10000.0,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,41166.0,1.0,3.0,0.0,2.0,13.0,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-15,Issued,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-00,0.0,NaN,NaN,6.0,0.0,7869,56.2,18.0,w,20000.0,20000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,Jan-16,Dec-15,0.0,NaN,1,JOINT,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421094 entries, 0 to 421093
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           421094 non-null  int64
 1   member_id                    421094 non-null  int64
 2   loan_amnt                    421094 non-null  int64
 3   funded_amnt                  421094 non-null  int64
 4   funded_amnt_inv              421094 non-null  float64
 5   term                         421094 non-null  object
 6   int_rate                     421094 non-null  float64
 7   installment                  421094 non-null  float64
 8   grade                        421094 non-null  object
 9   sub_grade                    421094 non-null  object
 10  emp_title                    397220 non-null  object
 11  emp_length                   397277 non-null  object
 12  home_ownership               421094 non-null  object
 13  annual_inc                   421094 non-null  float64
 14  verification_status          421094 non-null  object
 15  issue_d                      421094 non-null  object
 16  loan_status                  421094 non-null  object
 17  pymnt_plan                   421094 non-null  object
 18  url                          421094 non-null  object
 19  desc                         45 non-null      object
 20  purpose                      421094 non-null  object
 21  title                        420962 non-null  object
 22  zip_code                     421094 non-null  object
 23  addr_state                   421094 non-null  object
 24  dti                          421094 non-null  float64
 25  delinq_2yrs                  421094 non-null  float64
 26  earliest_cr_line             421094 non-null  object
 27  inq_last_6mths               421094 non-null  float64
 28  mths_since_last_delinq       217133 non-null  float64
 29  mths_since_last_record       74415 non-null   float64
 30  open_acc                     421094 non-null  float64
 31  pub_rec                      421094 non-null  float64
 32  revol_bal                    421094 non-null  int64
 33  revol_util                   420932 non-null  float64
 34  total_acc                    421094 non-null  float64
 35  initial_list_status          421094 non-null  object
 36  out_prncp                    421094 non-null  float64
 37  out_prncp_inv                421094 non-null  float64
 38  total_pymnt                  421094 non-null  float64
 39  total_pymnt_inv              421094 non-null  float64
 40  total_rec_prncp              421094 non-null  float64
 41  total_rec_int                421094 non-null  float64
 42  total_rec_late_fee           421094 non-null  float64
 43  recoveries                   421094 non-null  float64
 44  collection_recovery_fee      421094 non-null  float64
 45  last_pymnt_d                 403811 non-null  object
 46  last_pymnt_amnt              421094 non-null  float64
 47  next_pymnt_d                 395337 non-null  object
 48  last_credit_pull_d           421083 non-null  object
 49  collections_12_mths_ex_med   421094 non-null  float64
 50  mths_since_last_major_derog  122729 non-null  float64
 51  policy_code                  421094 non-null  int64
 52  application_type             421094 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               421094 non-null  float64
 57  tot_coll_amt                 421094 non-null  float64
 58  tot_cur_bal                  421094 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             421094 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(45), int64(6), object(23)
memory usage: 237.7+ MB

# General Preprocessing new Dataset,

* We will use same code for this dataset which we used for original or actual dataset

In [7]:
loan_data['emp_length_int'] = loan_data['emp_length'].str.replace('+ years','')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years','')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year','')
loan_data['emp_length_int'].fillna('0',inplace=True)
loan_data['emp_length_int'] = pd.to_numeric(loan_data['emp_length_int'])
loan_data['emp_length_int'].dtype
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421094 entries, 0 to 421093
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           421094 non-null  int64
 1   member_id                    421094 non-null  int64
 2   loan_amnt                    421094 non-null  int64
 3   funded_amnt                  421094 non-null  int64
 4   funded_amnt_inv              421094 non-null  float64
 5   term                         421094 non-null  object
 6   int_rate                     421094 non-null  float64
 7   installment                  421094 non-null  float64
 8   grade                        421094 non-null  object
 9   sub_grade                    421094 non-null  object
 10  emp_title                    397220 non-null  object
 11  emp_length                   397277 non-null  object
 12  home_ownership               421094 non-null  object
 13  annual_inc                   421094 non-null  float64
 14  verification_status          421094 non-null  object
 15  issue_d                      421094 non-null  object
 16  loan_status                  421094 non-null  object
 17  pymnt_plan                   421094 non-null  object
 18  url                          421094 non-null  object
 19  desc                         45 non-null      object
 20  purpose                      421094 non-null  object
 21  title                        420962 non-null  object
 22  zip_code                     421094 non-null  object
 23  addr_state                   421094 non-null  object
 24  dti                          421094 non-null  float64
 25  delinq_2yrs                  421094 non-null  float64
 26  earliest_cr_line             421094 non-null  object
 27  inq_last_6mths               421094 non-null  float64
 28  mths_since_last_delinq       217133 non-null  float64
 29  mths_since_last_record       74415 non-null   float64
 30  open_acc                     421094 non-null  float64
 31  pub_rec                      421094 non-null  float64
 32  revol_bal                    421094 non-null  int64
 33  revol_util                   420932 non-null  float64
 34  total_acc                    421094 non-null  float64
 35  initial_list_status          421094 non-null  object
 36  out_prncp                    421094 non-null  float64
 37  out_prncp_inv                421094 non-null  float64
 38  total_pymnt                  421094 non-null  float64
 39  total_pymnt_inv              421094 non-null  float64
 40  total_rec_prncp              421094 non-null  float64
 41  total_rec_int                421094 non-null  float64
 42  total_rec_late_fee           421094 non-null  float64
 43  recoveries                   421094 non-null  float64
 44  collection_recovery_fee      421094 non-null  float64
 45  last_pymnt_d                 403811 non-null  object
 46  last_pymnt_amnt              421094 non-null  float64
 47  next_pymnt_d                 395337 non-null  object
 48  last_credit_pull_d           421083 non-null  object
 49  collections_12_mths_ex_med   421094 non-null  float64
 50  mths_since_last_major_derog  122729 non-null  float64
 51  policy_code                  421094 non-null  int64
 52  application_type             421094 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               421094 non-null  float64
 57  tot_coll_amt                 421094 non-null  float64
 58  tot_cur_bal                  421094 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             421094 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
 74  emp_length_int               421094 non-null  int64
dtypes: float64(45), int64(7), object(23)
memory usage: 241.0+ MB

In [8]:
loan_data['earliest_cr_line_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = '%b-%y')
pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']
loan_data['mths_since_earliest_cr_line'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['earliest_cr_line_date']) / np.timedelta64(1, 'M')))

In [9]:
loan_data.loc[: , ['earliest_cr_line', 'earliest_cr_line_date', 'mths_since_earliest_cr_line']][loan_data['mths_since_earliest_cr_line'] < 0]
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()
loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\160229277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\160229277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_earliest_cr_line'][loan_data['mths_since_earliest_cr_line'] < 0] = loan_data['mths_since_earliest_cr_line'].max()

In [10]:
loan_data['term_int'] = loan_data['term'].replace(' 60 months', 60)
loan_data['term_int'] = loan_data['term_int'].replace(' 36 months',36)
loan_data['term_int'].unique()

array([60, 36], dtype=int64)

In [11]:
loan_data['issue_date'] = pd.to_datetime(loan_data['issue_d'], format= '%b-%y')
pd.to_datetime('2017-12-01') - loan_data['issue_date']
loan_data['months_issue_date'] = round(pd.to_numeric((pd.to_datetime('2017-12-01')- loan_data['issue_date'])/np.timedelta64(1,'M')))
loan_data['months_issue_date'].unique()
loan_data['months_issue_date'].describe()

count    421094.000000
mean         28.616929
std           3.041565
min          24.000000
25%          26.000000
50%          29.000000
75%          31.000000
max          34.000000
Name: months_issue_date, dtype: float64

In [12]:
pd.get_dummies(loan_data['grade'],dtype=int,prefix='Grade',prefix_sep=':')
loan_data_dummies = [pd.get_dummies(loan_data['grade'],dtype=int,prefix='Grade',prefix_sep=':'),
                     pd.get_dummies(loan_data['sub_grade'],dtype=int,prefix='sub_grade',prefix_sep=':'),
                     pd.get_dummies(loan_data['home_ownership'],dtype=int,prefix='home_ownership',prefix_sep=' '),
                     pd.get_dummies(loan_data['verification_status'],dtype=int,prefix='verification_status',prefix_sep=':'),
                    pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['purpose'],dtype=int,prefix='purpose',prefix_sep=':'),
                     pd.get_dummies(loan_data['addr_state'],dtype=int,prefix='addr_state',prefix_sep=':'),
                     pd.get_dummies(loan_data['initial_list_status'],dtype=int,prefix='initial_list_status',prefix_sep=':')]
loan_data_dummies = pd.concat(loan_data_dummies,axis=1)
loan_data = pd.concat([loan_data, loan_data_dummies],axis=1)

In [13]:
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace = True)
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [14]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)
loan_data['mths_since_earliest_cr_line'].fillna(0, inplace=True)

In [15]:
loan_data['loan_status'].value_counts()/ loan_data['loan_status'].count()

loan_status
Current               0.896600
Fully Paid            0.054582
Issued                0.020091
Late (31-120 days)    0.011140
In Grace Period       0.007378
Charged Off           0.006585
Late (16-30 days)     0.002705
Default               0.000919
Name: count, dtype: float64

In [16]:
loan_data['good_bad'] = np.where(loan_data['loan_status'].isin(['Charged Off ', 'Default','Late (31-120 days)','Does not meet the credit policy. Status:Charged Off']),0,1)

## We don't need to divide the dataset into train and test

In [17]:
df_inputs_prepr = loan_data.drop('good_bad',axis=1)
df_targets_prepr = loan_data['good_bad']

In [18]:
df1 = pd.concat([df_inputs_prepr['grade'],df_targets_prepr],axis=1)
df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].count()
df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].mean()
df1 = pd.concat([df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].count(),df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].mean()], axis=1)

In [19]:
df1 = df1.iloc[:, [0,1,3]]
df1.columns = [df1.columns.values[0], 'n_obs','prop_good']
df1['prop_n_obs'] = df1['n_obs']/df1['n_obs'].sum()
df1['n_good']= df1['prop_good']*df1['n_obs']
df1['n_bad'] = (1- df1['prop_good'])*df1['n_obs']
df1['prop_n_good'] = df1['n_good'] / df1['n_good'].sum()
df1['prop_n_bad'] = df1['n_bad'] / df1['n_bad'].sum()
df1['WoE'] = np.log(df1['prop_n_good']/df1['prop_n_bad'])
df1 = df1.sort_values(['WoE'])
df1 = df1.reset_index(drop=True)
df1['diff_prop_good'] = df1['prop_good'].diff().abs()
df1['diff_WoE'] = df1['WoE'].diff().abs()
df1['IV']= (df1['prop_n_good']-df1['prop_n_bad'])*df1['WoE']
df1['IV'] = df1['IV'].sum()

In [20]:
def woe_discrete(df, discrete_variabe_name, good_bad_variable_df):
    df = pd.concat([df[discrete_variabe_name], good_bad_variable_df], axis = 1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                    df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good'] = df['prop_good'] * df['n_obs']
    df['n_bad'] = (1 - df['prop_good']) * df['n_obs']
    df['prop_n_good'] = df['n_good'] / df['n_good'].sum()
    df['prop_n_bad'] = df['n_bad'] / df['n_bad'].sum()
    df['WoE'] = np.log(df['prop_n_good'] / df['prop_n_bad'])
    df = df.sort_values(['WoE'])
    df = df.reset_index(drop = True)
    df['diff_prop_good'] = df['prop_good'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    df['IV'] = (df['prop_n_good'] - df['prop_n_bad']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df
df_temp = woe_discrete(df_inputs_prepr,'grade', df_targets_prepr)

In [21]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
def plot_by_woe(df_WoE, rotation_of_x_axis_labels = 0):
    x = np.array(df_WoE.iloc[: , 0].apply(str))
    y = df_WoE['WoE']
    plt.figure(figsize = (18, 6))
    plt.plot(x, y, marker = 'o', linestyle = '--', color = 'k')
    plt.xlabel(df_WoE.columns[0])
    plt.ylabel('Weight of Evidence')
    plt.title(str('Weight of Evidence by ' + df_WoE.columns[0]))
    plt.xticks(rotation = rotation_of_x_axis_labels)

In [22]:
df_temp = woe_discrete(df_inputs_prepr,'home_ownership',df_targets_prepr)

In [23]:
df_inputs_prepr['home_ownership'].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'ANY'], dtype=object)

In [24]:
df_inputs_prepr['home_ownership:RENT_OTHER_NONE_ANY'] = sum([df_inputs_prepr['home_ownership RENT'], df_inputs_prepr['home_ownership ANY'],df_inputs_prepr['home_ownership MORTGAGE'],df_inputs_prepr['home_ownership OWN']])

In [25]:
if ['addr_state ND'] in df_inputs_prepr.columns.values:
    pass
else :
    print('ok')
    df_inputs_prepr['addr_state:ND'] = 0
if ['addr_state ID'] in df_inputs_prepr.columns.values:
    pass
else :
    print('ok')
    df_inputs_prepr['addr_state:ID'] = 0
if ['addr_state IA'] in df_inputs_prepr.columns.values:
    pass
else :
    print('ok')
    df_inputs_prepr['addr_state:IA'] = 0
df_inputs_prepr['addr_state:NE_IA_MS_MT_TN_RI_ND'] = sum([df_inputs_prepr['addr_state:NE'],df_inputs_prepr['addr_state:IA'], df_inputs_prepr['addr_state:MS'],df_inputs_prepr['addr_state:MT'],df_inputs_prepr['addr_state:TN'],df_inputs_prepr['addr_state:RI'],df_inputs_prepr['addr_state:ND']])
df_inputs_prepr['addr_state:NV_LA'] = sum([df_inputs_prepr['addr_state:NV'],df_inputs_prepr['addr_state:LA']])
df_inputs_prepr['addr_state:HI_SD'] = sum([df_inputs_prepr['addr_state:HI'],df_inputs_prepr['addr_state:SD'],])
df_inputs_prepr['addr_state:AZ_PA_OK'] = sum([df_inputs_prepr['addr_state:AZ'],df_inputs_prepr['addr_state:PA'],df_inputs_prepr['addr_state:OK']])
df_inputs_prepr['addr_state:MD_FL_VA_MA'] = sum([df_inputs_prepr['addr_state:MD'],df_inputs_prepr['addr_state:FL'],df_inputs_prepr['addr_state:VA'],df_inputs_prepr['addr_state:MA']])
df_inputs_prepr['addr_state:AR_DE_WV_MO_IN'] = sum([df_inputs_prepr['addr_state:AR'],df_inputs_prepr['addr_state:DE'],df_inputs_prepr['addr_state:WV'],df_inputs_prepr['addr_state:MO'],df_inputs_prepr['addr_state:IN']])
df_inputs_prepr['addr_state:OH_NC'] = sum([df_inputs_prepr['addr_state:OH'],df_inputs_prepr['addr_state:NC']])
df_inputs_prepr['addr_state:AL_MI'] = sum([df_inputs_prepr['addr_state:AL'],df_inputs_prepr['addr_state:MI']])
df_inputs_prepr['addr_state:TX_NJ_GA'] = sum([df_inputs_prepr['addr_state:TX'],df_inputs_prepr['addr_state:NJ'],df_inputs_prepr['addr_state:GA']])
df_inputs_prepr['addr_state:AK_WI'] = sum([df_inputs_prepr['addr_state:AK'],df_inputs_prepr['addr_state:WI']])
df_inputs_prepr['addr_state:WA_CT'] = sum([df_inputs_prepr['addr_state:WA'],df_inputs_prepr['addr_state:CT']])
df_inputs_prepr['addr_state:NH_KS_DC_WY_ME_ID'] = sum([df_inputs_prepr['addr_state:NH'],df_inputs_prepr['addr_state:KS'],df_inputs_prepr['addr_state:DC'],df_inputs_prepr['addr_state:WY'],df_inputs_prepr['addr_state:ID']])

ok
ok
ok

In [26]:
df_inputs_prepr['purpose:edu_small_house_mov'] = sum([df_inputs_prepr['purpose:educational'],df_inputs_prepr['purpose:small_business'],df_inputs_prepr['purpose:house'],df_inputs_prepr['purpose:moving']])
df_inputs_prepr['purpose:other_med'] = sum([df_inputs_prepr['purpose:other'],df_inputs_prepr['purpose:medical']])
df_inputs_prepr['purpose:debt'] = sum([df_inputs_prepr['purpose:debt_consolidation']])
df_inputs_prepr['purpose:_vaca_credit'] = sum([df_inputs_prepr['purpose:home_improvement'],df_inputs_prepr['purpose:vacation'],df_inputs_prepr['purpose:credit_card']])
df_inputs_prepr['purpose:major_rene_car_wedd'] = sum([df_inputs_prepr['purpose:major_purchase'],df_inputs_prepr['purpose:renewable_energy'],df_inputs_prepr['purpose:car'],df_inputs_prepr['purpose:wedding']])

In [27]:
def woe_ordered_continous(df, discrete_variabe_name, good_bad_variable_df):
    df = pd.concat([df[discrete_variabe_name], good_bad_variable_df], axis = 1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                    df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good'] = df['prop_good'] * df['n_obs']
    df['n_bad'] = (1 - df['prop_good']) * df['n_obs']
    df['prop_n_good'] = df['n_good'] / df['n_good'].sum()
    df['prop_n_bad'] = df['n_bad'] / df['n_bad'].sum()
    df['WoE'] = np.log(df['prop_n_good'] / df['prop_n_bad'])
    # df = df.sort_values(['WoE'])
    # df = df.reset_index(drop = True)
    df['diff_prop_good'] = df['prop_good'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    df['IV'] = (df['prop_n_good'] - df['prop_n_bad']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df

In [28]:
df_inputs_prepr['term_int:36'] =  np.where((df_inputs_prepr['term_int']==36),1,0)
df_inputs_prepr['term_int:60'] =  np.where((df_inputs_prepr['term_int']==60),1,0)

In [29]:
df_inputs_prepr['emp_length_int:0']= np.where(df_inputs_prepr['emp_length_int'].isin([0]),1,0)
df_inputs_prepr['emp_length_int:1']= np.where(df_inputs_prepr['emp_length_int'].isin([1]),1,0)
df_inputs_prepr['emp_length_int:2-3']= np.where(df_inputs_prepr['emp_length_int'].isin(range(2,3)),1,0)
df_inputs_prepr['emp_length_int:4-5']= np.where(df_inputs_prepr['emp_length_int'].isin(range(4,5)),1,0)
df_inputs_prepr['emp_length_int:6-8']= np.where(df_inputs_prepr['emp_length_int'].isin(range(6,8)),1,0)
df_inputs_prepr['emp_length_int:9']= np.where(df_inputs_prepr['emp_length_int'].isin([9]),1,0)
df_inputs_prepr['emp_length_int:10']= np.where(df_inputs_prepr['emp_length_int'].isin([10]),1,0)

In [30]:
df_inputs_prepr['mths_since_issue_d_factor'] = pd.cut(df_inputs_prepr['months_issue_date'],50)

In [31]:
df_inputs_prepr['months_issue_date:<38'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(38)),1,0)
df_inputs_prepr['months_issue_date:40-49'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(38,49)),1,0)
df_inputs_prepr['months_issue_date:49-56'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(49,56)),1,0)
df_inputs_prepr['months_issue_date:56-60'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(56,60)),1,0)
df_inputs_prepr['months_issue_date:60-66'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(60,66)),1,0)
df_inputs_prepr['months_issue_date:66-74'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(66,74)),1,0)
df_inputs_prepr['months_issue_date:74-82'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(74,82)),1,0)
df_inputs_prepr['months_issue_date:>82'] = np.where(df_inputs_prepr['months_issue_date'].isin(range(82, int(df_inputs_prepr['months_issue_date'].max()))),1,0)

In [32]:
df_inputs_prepr['int_rate_factor'] = pd.cut(df_inputs_prepr['int_rate'],50)
df_inputs_prepr['int_rate:<7.071'] = np.where((df_inputs_prepr['int_rate']<= 7.071),1,0)
df_inputs_prepr['int_rate:7.071-11.199'] = np.where((df_inputs_prepr['int_rate']>7.071)&(df_inputs_prepr['int_rate']<11.199),1,0)
df_inputs_prepr['int_rate:11.199-13.263'] = np.where((df_inputs_prepr['int_rate']>11.199)&(df_inputs_prepr['int_rate']<13.263),1,0)
df_inputs_prepr['int_rate:13.263-15.327'] = np.where((df_inputs_prepr['int_rate']>13.263)&(df_inputs_prepr['int_rate']<15.327),1,0)
df_inputs_prepr['int_rate:15.327-19.868'] = np.where((df_inputs_prepr['int_rate']>15.327)&(df_inputs_prepr['int_rate']<19.868),1,0)
df_inputs_prepr['int_rate:19.868-25.234'] = np.where((df_inputs_prepr['int_rate']>19.868)&(df_inputs_prepr['int_rate']<25.234),1,0)
df_inputs_prepr['int_rate:>25.324'] = np.where((df_inputs_prepr['int_rate']>25.234),1,0)

In [33]:
df_inputs_prepr['mths_since_earliest_cr_line_factor'] = pd.cut(df_inputs_prepr['mths_since_earliest_cr_line'],50)
df_temp = woe_ordered_continous(df_inputs_prepr,'mths_since_earliest_cr_line_factor',df_targets_prepr)
df_temp

,mths_since_earliest_cr_line_factor,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,"(59.484, 70.32]",2001,0.987506,0.004752,1976.0,25.0,0.004750,0.004923,-0.035852,NaN,NaN,0.049961
1,"(70.32, 80.64]",4886,0.982808,0.011603,4802.0,84.0,0.011543,0.016542,-0.359835,0.004698,0.323983,0.049961
2,"(80.64, 90.96]",4610,0.980694,0.010948,4521.0,89.0,0.010867,0.017527,-0.477954,0.002114,0.118119,0.049961
3,"(90.96, 101.28]",5446,0.984943,0.012933,5364.0,82.0,0.012894,0.016148,-0.225060,0.004249,0.252894,0.049961
4,"(101.28, 111.6]",6146,0.977546,0.014595,6008.0,138.0,0.014442,0.027176,-0.632213,0.007397,0.407152,0.049961
5,"(111.6, 121.92]",8504,0.986477,0.020195,8389.0,115.0,0.020165,0.022647,-0.116062,0.008931,0.516151,0.049961
6,"(121.92, 132.24]",12851,0.984048,0.030518,12646.0,205.0,0.030398,0.040370,-0.283720,0.002429,0.167658,0.049961
7,"(132.24, 142.56]",15641,0.984911,0.037144,15405.0,236.0,0.037030,0.046475,-0.227191,0.000864,0.056529,0.049961
8,"(142.56, 152.88]",18480,0.986093,0.043886,18223.0,257.0,0.043804,0.050610,-0.144443,0.001182,0.082748,0.049961
9,"(152.88, 163.2]",24374,0.984615,0.057883,23999.0,375.0,0.057688,0.073848,-0.246965,0.001478,0.102522,0.049961
10,"(163.2, 173.52]",23553,0.987772,0.055933,23265.0,288.0,0.055923,0.056715,-0.014061,0.003158,0.232903,0.049961
11,"(173.52, 183.84]",23646,0.985537,0.056154,23304.0,342.0,0.056017,0.067349,-0.184237,0.002236,0.170175,0.049961
12,"(183.84, 194.16]",28899,0.987508,0.068628,28538.0,361.0,0.068598,0.071091,-0.035692,0.001972,0.148544,0.049961
13,"(194.16, 204.48]",23696,0.989112,0.056272,23438.0,258.0,0.056339,0.050807,0.103348,0.001604,0.139040,0.049961
14,"(204.48, 214.8]",21150,0.988794,0.050226,20913.0,237.0,0.050270,0.046672,0.074260,0.000318,0.029088,0.049961
15,"(214.8, 225.12]",20886,0.988844,0.049599,20653.0,233.0,0.049645,0.045884,0.078771,0.000050,0.004511,0.049961
16,"(225.12, 235.44]",16822,0.989538,0.039948,16646.0,176.0,0.040013,0.034659,0.143635,0.000693,0.064864,0.049961
17,"(235.44, 245.76]",16459,0.989975,0.039086,16294.0,165.0,0.039167,0.032493,0.186801,0.000438,0.043166,0.049961
18,"(245.76, 256.08]",16167,0.988433,0.038393,15980.0,187.0,0.038412,0.036826,0.042178,0.001542,0.144622,0.049961
19,"(256.08, 266.4]",14231,0.989600,0.033795,14083.0,148.0,0.033852,0.029145,0.149705,0.001167,0.107527,0.049961
20,"(266.4, 276.72]",12804,0.989300,0.030407,12667.0,137.0,0.030448,0.026979,0.120968,0.000300,0.028737,0.049961
21,"(276.72, 287.04]",12779,0.990844,0.030347,12662.0,117.0,0.030436,0.023041,0.278380,0.001544,0.157412,0.049961
22,"(287.04, 297.36]",9753,0.988824,0.023161,9644.0,109.0,0.023182,0.021465,0.076937,0.002020,0.201443,0.049961
23,"(297.36, 307.68]",6538,0.989446,0.015526,6469.0,69.0,0.015550,0.013588,0.134864,0.000622,0.057927,0.049961
24,"(307.68, 318.0]",7441,0.989921,0.017671,7366.0,75.0,0.017706,0.014770,0.181336,0.000474,0.046472,0.049961
25,"(318.0, 328.32]",7372,0.991590,0.017507,7310.0,62.0,0.017571,0.012210,0.364058,0.001669,0.182722,0.049961
26,"(328.32, 338.64]",6890,0.991147,0.016362,6829.0,61.0,0.016415,0.012013,0.312253,0.000443,0.051805,0.049961
27,"(338.64, 348.96]",5856,0.990437,0.013907,5800.0,56.0,0.013942,0.011028,0.234455,0.000709,0.077798,0.049961
28,"(348.96, 359.28]",6523,0.992028,0.015491,6471.0,52.0,0.015555,0.010240,0.418036,0.001591,0.183581,0.049961
29,"(359.28, 369.6]",4670,0.990578,0.011090,4626.0,44.0,0.011120,0.008665,0.249452,0.001450,0.168584,0.049961
30,"(369.6, 379.92]",4036,0.991824,0.009585,4003.0,33.0,0.009622,0.006499,0.392486,0.001245,0.143034,0.049961
31,"(379.92, 390.24]",4098,0.991947,0.009732,4065.0,33.0,0.009771,0.006499,0.407855,0.000124,0.015370,0.049961
32,"(390.24, 400.56]",3580,0.987430,0.008502,3535.0,45.0,0.008497,0.008862,-0.042000,0.004517,0.449855,0.049961
33,"(400.56, 410.88]",3189,0.991220,0.007573,3161.0,28.0,0.007598,0.005514,0.320633,0.003790,0.362633,0.049961
34,"(410.88, 421.2]",2528,0.990506,0.006003,2504.0,24.0,0.006019,0.004726,0.241785,0.000713,0.078848,0.049961
35,"(421.2, 431.52]",1702,0.991774,0.004042,1688.0,14.0,0.004058,0.002757,0.386436,0.001268,0.144651,0.049961
36,"(431.52, 441.84]",1501,0.994004,0.003565,1492.0,9.0,0.003586,0.001772,0.704842,0.002230,0.318406,0.049961
37,"(441.84, 452.16]",1438,0.990960,0.003415,1425.0,13.0,0.003425,0.002560,0.291171,0.003044,0.413670,0.049961
38,"(452.16, 462.48]",1492,0.989276,0.003543,1476.0,16.0,0.003548,0.003151,0.118696,0.001684,0.172475,0.049961
39,"(462.48, 472.8]",1336,0.991766,0.003173,1325.0,11.0,0.003185,0.002166,0.385466,0.002490,0.266770,0.049961
40,"(472.8, 483.12]",1256,0.992834,0.002983,1247.0,9.0,0.002997,0.001772,0.525465,0.001068,0.139999,0.049961
41,"(483.12, 493.44]",872,0.990826,0.002071,864.0,8.0,0.002077,0.001575,0.276325,0.002009,0.249140,0.049961
42,"(493.44, 503.76]",713,0.995792,0.001693,710.0,3.0,0.001707,0.000591,1.060846,0.004967,0.784521,0.049961
43,"(503.76, 514.08]",665,0.992481,0.001579,660.0,5.0,0.001586,0.000985,0.476996,0.003311,0.583851,0.049961
44,"(514.08, 524.4]",612,0.991830,0.001453,607.0,5.0,0.001459,0.000985,0.393285,0.000651,0.083711,0.049961
45,"(524.4, 534.72]",517,0.994197,0.001228,514.0,3.0,0.001236,0.000591,0.737805,0.002367,0.344520,0.049961
46,"(534.72, 545.04]",452,0.986726,0.001073,446.0,6.0,0.001072,0.001182,-0.097247,0.007472,0.835051,0.049961
47,"(545.04, 555.36]",280,0.982143,0.000665,275.0,5.0,0.000661,0.000985,-0.398473,0.004583,0.301226,0.049961
48,"(555.36, 565.68]",303,0.993399,0.000720,301.0,2.0,0.000724,0.000394,0.608157,0.011256,1.006630,0.049961
49,"(565.68, 576.0]",1450,0.984138,0.003443,1427.0,23.0,0.003430,0.004529,-0.277971,0.009261,0.886128,0.049961

In [34]:
df_inputs_prepr['mths_since_earliest_cr_line_factor:<126'] = np.where(df_inputs_prepr['mths_since_earliest_cr_line_factor'].isin(range(127)),1,0)
df_inputs_prepr['mths_since_earliest_cr_line_factor:126-173'] = np.where(df_inputs_prepr['mths_since_earliest_cr_line_factor'].isin(range(127,173)),1,0)
df_inputs_prepr['mths_since_earliest_cr_line_factor:173-345'] = np.where(df_inputs_prepr['mths_since_earliest_cr_line_factor'].isin(range(173,345)),1,0)
df_inputs_prepr['mths_since_earliest_cr_line_factor:345-438'] = np.where(df_inputs_prepr['mths_since_earliest_cr_line_factor'].isin(range(345,438)),1,0)
df_inputs_prepr['mths_since_earliest_cr_line_factor:>438'] = np.where(df_inputs_prepr['mths_since_earliest_cr_line_factor'].isin(range(438, int(df_inputs_prepr['mths_since_earliest_cr_line'].max()))),1,0)

In [35]:
df_inputs_prepr['delinq_2yrs:0'] = np.where((df_inputs_prepr['delinq_2yrs']==0),1,0)
df_inputs_prepr['delinq_2yrs:1-5'] = np.where((df_inputs_prepr['delinq_2yrs']>=1) & (df_inputs_prepr['delinq_2yrs'] <=5),1,0)
df_inputs_prepr['delinq_2yrs:>=6'] = np.where((df_inputs_prepr['delinq_2yrs']>=6),1,0)

In [36]:
df_inputs_prepr['inq_last_6mths:0-3'] = np.where((df_inputs_prepr['inq_last_6mths']>=0)&(df_inputs_prepr['inq_last_6mths']<=3),1,0)
df_inputs_prepr['inq_last_6mths:3-6'] = np.where((df_inputs_prepr['inq_last_6mths']>3)&(df_inputs_prepr['inq_last_6mths']<=6),1,0)
df_inputs_prepr['inq_last_6mths:>6'] = np.where((df_inputs_prepr['inq_last_6mths']>6),1,0)

In [37]:
df_inputs_prepr['open_acc:0'] = np.where((df_inputs_prepr['open_acc']==0),1,0)
df_inputs_prepr['open_acc:1-4'] = np.where((df_inputs_prepr['open_acc']>=1) & (df_inputs_prepr['open_acc']<=4 ),1,0)
df_inputs_prepr['open_acc:5-13'] = np.where((df_inputs_prepr['open_acc']>4) & (df_inputs_prepr['open_acc']<=13 ),1,0)
df_inputs_prepr['open_acc:13-26'] = np.where((df_inputs_prepr['open_acc']>13) & (df_inputs_prepr['open_acc']<=26 ),1,0)
df_inputs_prepr['open_acc:26-32'] = np.where((df_inputs_prepr['open_acc']>26) & (df_inputs_prepr['open_acc']<=32 ),1,0)
df_inputs_prepr['open_acc:>32'] = np.where((df_inputs_prepr['open_acc']>32),1,0)

In [38]:
df_inputs_prepr['pub_rec:0-2'] = np.where((df_inputs_prepr['pub_rec'] >=0) & (df_inputs_prepr['pub_rec']<=2),1,0)
df_inputs_prepr['pub_rec:2-4'] = np.where((df_inputs_prepr['pub_rec']>2) & (df_inputs_prepr['pub_rec']<=4),1,0)
df_inputs_prepr['pub_rec:>5'] = np.where((df_inputs_prepr['pub_rec']>5),1,0)

In [39]:
df_inputs_prepr['total_acc_factor'] = pd.cut(df_inputs_prepr['total_acc'],50)
df_temp = woe_ordered_continous(df_inputs_prepr,'total_acc_factor',df_targets_prepr)
df_inputs_prepr['total_acc:<=27'] = np.where((df_inputs_prepr['total_acc'] <= 27), 1, 0)
df_inputs_prepr['total_acc:27-51'] = np.where((df_inputs_prepr['total_acc'] > 27) & (df_inputs_prepr['total_acc'] <= 51), 1, 0)
df_inputs_prepr['total_acc:>=51'] = np.where((df_inputs_prepr['total_acc'] > 51), 1, 0)

In [40]:
df_inputs_prepr['acc_now_delinq:0'] = np.where((df_inputs_prepr['acc_now_delinq'] == 0), 1, 0)
df_inputs_prepr['acc_now_delinq:>=1'] = np.where((df_inputs_prepr['acc_now_delinq'] >= 1), 1, 0)

In [41]:
df_inputs_prepr['total_rev_hi_lim_factor'] = pd.cut(df_inputs_prepr['total_rev_hi_lim'],50)
df_temp = woe_ordered_continous(df_inputs_prepr,'total_rev_hi_lim_factor',df_targets_prepr)
df_temp

,total_rev_hi_lim_factor,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,"(-9999.999, 199999.98]",418667,0.987921,0.994236,413610.0,5057.0,0.994217,0.995865,-0.001656,NaN,NaN,inf
1,"(199999.98, 399999.96]",2143,0.992067,0.005089,2126.0,17.0,0.005110,0.003348,0.422978,0.004146,0.424634,inf
2,"(399999.96, 599999.94]",217,0.990783,0.000515,215.0,2.0,0.000517,0.000394,0.271685,0.001284,0.151293,inf
3,"(599999.94, 799999.92]",44,1.000000,0.000104,44.0,0.0,0.000106,0.000000,inf,0.009217,inf,inf
4,"(799999.92, 999999.9]",9,1.000000,0.000021,9.0,0.0,0.000022,0.000000,inf,0.000000,NaN,inf
5,"(999999.9, 1199999.88]",11,0.818182,0.000026,9.0,2.0,0.000022,0.000394,-2.901729,0.181818,inf,inf
6,"(1199999.88, 1399999.86]",1,1.000000,0.000002,1.0,0.0,0.000002,0.000000,inf,0.181818,inf,inf
7,"(1399999.86, 1599999.84]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
8,"(1599999.84, 1799999.82]",1,1.000000,0.000002,1.0,0.0,0.000002,0.000000,inf,NaN,NaN,inf
9,"(1799999.82, 1999999.8]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
10,"(1999999.8, 2199999.78]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
11,"(2199999.78, 2399999.76]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
12,"(2399999.76, 2599999.74]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
13,"(2599999.74, 2799999.72]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
14,"(2799999.72, 2999999.7]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
15,"(2999999.7, 3199999.68]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
16,"(3199999.68, 3399999.66]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
17,"(3399999.66, 3599999.64]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
18,"(3599999.64, 3799999.62]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
19,"(3799999.62, 3999999.6]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
20,"(3999999.6, 4199999.58]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
21,"(4199999.58, 4399999.56]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
22,"(4399999.56, 4599999.54]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
23,"(4599999.54, 4799999.52]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
24,"(4799999.52, 4999999.5]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
25,"(4999999.5, 5199999.48]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
26,"(5199999.48, 5399999.46]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
27,"(5399999.46, 5599999.44]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
28,"(5599999.44, 5799999.42]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
29,"(5799999.42, 5999999.4]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
30,"(5999999.4, 6199999.38]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
31,"(6199999.38, 6399999.36]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
32,"(6399999.36, 6599999.34]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
33,"(6599999.34, 6799999.32]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
34,"(6799999.32, 6999999.3]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
35,"(6999999.3, 7199999.28]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
36,"(7199999.28, 7399999.26]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
37,"(7399999.26, 7599999.24]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
38,"(7599999.24, 7799999.22]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
39,"(7799999.22, 7999999.2]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
40,"(7999999.2, 8199999.18]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
41,"(8199999.18, 8399999.16]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
42,"(8399999.16, 8599999.14]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
43,"(8599999.14, 8799999.12]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
44,"(8799999.12, 8999999.1]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
45,"(8999999.1, 9199999.08]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
46,"(9199999.08, 9399999.06]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
47,"(9399999.06, 9599999.04]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
48,"(9599999.04, 9799999.02]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
49,"(9799999.02, 9999999.0]",1,1.000000,0.000002,1.0,0.0,0.000002,0.000000,inf,NaN,NaN,inf

In [42]:
df_inputs_prepr['total_rev_hi_lim:<=5K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] <= 5000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:5K-10K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 5000) & (df_inputs_prepr['total_rev_hi_lim'] <= 10000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:10K-20K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 10000) & (df_inputs_prepr['total_rev_hi_lim'] <= 20000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:20K-30K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 20000) & (df_inputs_prepr['total_rev_hi_lim'] <= 30000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:30K-40K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 30000) & (df_inputs_prepr['total_rev_hi_lim'] <= 40000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:40K-55K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 40000) & (df_inputs_prepr['total_rev_hi_lim'] <= 55000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:55K-95K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 55000) & (df_inputs_prepr['total_rev_hi_lim'] <= 95000), 1, 0)
df_inputs_prepr['total_rev_hi_lim:>95K'] = np.where((df_inputs_prepr['total_rev_hi_lim'] > 95000), 1, 0)

In [43]:
df_inputs_prepr['annual_inc_factor'] = pd.cut(df_inputs_prepr['annual_inc'],100)
df_temp = woe_ordered_continous(df_inputs_prepr,'annual_inc_factor',df_targets_prepr)

In [44]:
df_inputs_prepr_temp = df_inputs_prepr.loc[df_inputs_prepr['annual_inc']<=140000,:]
df_inputs_prepr_temp['annual_inc_factor'] = pd.cut(df_inputs_prepr_temp['annual_inc'],50)
df_temp = woe_ordered_continous(df_inputs_prepr_temp,'annual_inc_factor',df_targets_prepr[df_inputs_prepr_temp.index])

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\3090995349.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inputs_prepr_temp['annual_inc_factor'] = pd.cut(df_inputs_prepr_temp['annual_inc'],50)

In [45]:
df_inputs_prepr['annual_inc:<20K'] = np.where((df_inputs_prepr['annual_inc']<=20000),1,0)
df_inputs_prepr['annual_inc:20K-30K'] = np.where((df_inputs_prepr['annual_inc']>20000) & (df_inputs_prepr['annual_inc']<=30000),1,0)
df_inputs_prepr['annual_inc:30K-40K'] = np.where((df_inputs_prepr['annual_inc']>30000) & (df_inputs_prepr['annual_inc']<=40000),1,0)
df_inputs_prepr['annual_inc:40K-50K'] = np.where((df_inputs_prepr['annual_inc']>40000) & (df_inputs_prepr['annual_inc']<=50000),1,0)
df_inputs_prepr['annual_inc:50K-60K'] = np.where((df_inputs_prepr['annual_inc']>50000) & (df_inputs_prepr['annual_inc']<=60000),1,0)
df_inputs_prepr['annual_inc:60K-70K'] = np.where((df_inputs_prepr['annual_inc']>60000) & (df_inputs_prepr['annual_inc']<=70000),1,0)
df_inputs_prepr['annual_inc:70K-80K'] = np.where((df_inputs_prepr['annual_inc']>70000) & (df_inputs_prepr['annual_inc']<=80000),1,0)
df_inputs_prepr['annual_inc:80K-90K'] = np.where((df_inputs_prepr['annual_inc']>80000) & (df_inputs_prepr['annual_inc']<=90000),1,0)
df_inputs_prepr['annual_inc:90K-100K'] = np.where((df_inputs_prepr['annual_inc']>90000) & (df_inputs_prepr['annual_inc']<=100000),1,0)
df_inputs_prepr['annual_inc:100K-120K'] = np.where((df_inputs_prepr['annual_inc']>100000) & (df_inputs_prepr['annual_inc']<=120000),1,0)
df_inputs_prepr['annual_inc:120K-140K'] = np.where((df_inputs_prepr['annual_inc']>120000) & (df_inputs_prepr['annual_inc']<=140000),1,0)
df_inputs_prepr['annual_inc:>140K'] = np.where((df_inputs_prepr['annual_inc']>140000),1,0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:50K-60K'] = np.where((df_inputs_prepr['annual_inc']>50000) & (df_inputs_prepr['annual_inc']<=60000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:60K-70K'] = np.where((df_inputs_prepr['annual_inc']>60000) & (df_inputs_prepr['annual_inc']<=70000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:70K-80K'] = np.where((df_inputs_prepr['annual_inc']>70000) & (df_inputs_prepr['annual_inc']<=80000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:80K-90K'] = np.where((df_inputs_prepr['annual_inc']>80000) & (df_inputs_prepr['annual_inc']<=90000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:90K-100K'] = np.where((df_inputs_prepr['annual_inc']>90000) & (df_inputs_prepr['annual_inc']<=100000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:100K-120K'] = np.where((df_inputs_prepr['annual_inc']>100000) & (df_inputs_prepr['annual_inc']<=120000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:120K-140K'] = np.where((df_inputs_prepr['annual_inc']>120000) & (df_inputs_prepr['annual_inc']<=140000),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4096293025.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['annual_inc:>140K'] = np.where((df_inputs_prepr['annual_inc']>140000),1,0)

In [46]:
df_inputs_prepr_temp = df_inputs_prepr[pd.notnull(df_inputs_prepr['mths_since_last_delinq'])]
df_inputs_prepr_temp['mths_since_last_delinq_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_delinq'],50)
df_temp = woe_ordered_continous(df_inputs_prepr_temp,'mths_since_last_delinq_factor',df_targets_prepr[df_inputs_prepr_temp.index])
df_temp

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2094359074.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr_temp['mths_since_last_delinq_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_delinq'],50)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2094359074.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inputs_prepr_temp['mths_since_last_delinq_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_delinq'],50)

,mths_since_last_delinq_factor,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,"(-0.176, 3.52]",7261,0.982372,0.033440,7133.0,128.0,0.033260,0.047886,-0.364465,NaN,NaN,inf
1,"(3.52, 7.04]",15763,0.984711,0.072596,15522.0,241.0,0.072377,0.090161,-0.219705,0.002339,0.144760,inf
2,"(7.04, 10.56]",12365,0.985119,0.056947,12181.0,184.0,0.056798,0.068837,-0.192225,0.000408,0.027480,inf
3,"(10.56, 14.08]",16125,0.986605,0.074263,15909.0,216.0,0.074182,0.080808,-0.085560,0.001485,0.106665,inf
4,"(14.08, 17.6]",11384,0.986297,0.052429,11228.0,156.0,0.052355,0.058361,-0.108612,0.000308,0.023052,inf
5,"(17.6, 21.12]",14291,0.989014,0.065817,14134.0,157.0,0.065905,0.058736,0.115171,0.002718,0.223783,inf
6,"(21.12, 24.64]",10544,0.988050,0.048560,10418.0,126.0,0.048578,0.047138,0.030087,0.000964,0.085084,inf
7,"(24.64, 28.16]",13761,0.987356,0.063376,13587.0,174.0,0.063354,0.065095,-0.027108,0.000695,0.057195,inf
8,"(28.16, 31.68]",9867,0.989358,0.045442,9762.0,105.0,0.045519,0.039282,0.147370,0.002003,0.174479,inf
9,"(31.68, 35.2]",12583,0.989748,0.057951,12454.0,129.0,0.058071,0.048260,0.185063,0.000390,0.037693,inf
10,"(35.2, 38.72]",8869,0.987710,0.040846,8760.0,109.0,0.040847,0.040778,0.001681,0.002038,0.183381,inf
11,"(38.72, 42.24]",11025,0.987755,0.050775,10890.0,135.0,0.050779,0.050505,0.005404,0.000045,0.003722,inf
12,"(42.24, 45.76]",8005,0.990756,0.036867,7931.0,74.0,0.036981,0.027684,0.289548,0.003001,0.284144,inf
13,"(45.76, 49.28]",9697,0.987934,0.044659,9580.0,117.0,0.044670,0.043771,0.020337,0.002821,0.269210,inf
14,"(49.28, 52.8]",5298,0.988864,0.024400,5239.0,59.0,0.024429,0.022073,0.101427,0.000929,0.081090,inf
15,"(52.8, 56.32]",7492,0.987186,0.034504,7396.0,96.0,0.034487,0.035915,-0.040575,0.001677,0.142002,inf
16,"(56.32, 59.84]",5786,0.988075,0.026647,5717.0,69.0,0.026658,0.025814,0.032171,0.000888,0.072747,inf
17,"(59.84, 63.36]",7743,0.989926,0.035660,7665.0,78.0,0.035741,0.029181,0.202789,0.001852,0.170618,inf
18,"(63.36, 66.88]",5785,0.987381,0.026643,5712.0,73.0,0.026634,0.027310,-0.025057,0.002545,0.227846,inf
19,"(66.88, 70.4]",7266,0.991329,0.033463,7203.0,63.0,0.033587,0.023569,0.354196,0.003948,0.379253,inf
20,"(70.4, 73.92]",4913,0.988805,0.022627,4858.0,55.0,0.022652,0.020576,0.096127,0.002524,0.258069,inf
21,"(73.92, 77.44]",5702,0.988425,0.026260,5636.0,66.0,0.026280,0.024691,0.062353,0.000380,0.033774,inf
22,"(77.44, 80.96]",3639,0.988184,0.016759,3596.0,43.0,0.016768,0.016087,0.041455,0.000242,0.020898,inf
23,"(80.96, 84.48]",1650,0.990909,0.007599,1635.0,15.0,0.007624,0.005612,0.306426,0.002726,0.264971,inf
24,"(84.48, 88.0]",106,0.971698,0.000488,103.0,3.0,0.000480,0.001122,-0.848805,0.019211,1.155231,inf
25,"(88.0, 91.52]",40,0.975000,0.000184,39.0,1.0,0.000182,0.000374,-0.721360,0.003302,0.127445,inf
26,"(91.52, 95.04]",40,0.975000,0.000184,39.0,1.0,0.000182,0.000374,-0.721360,0.000000,0.000000,inf
27,"(95.04, 98.56]",20,1.000000,0.000092,20.0,0.0,0.000093,0.000000,inf,0.025000,inf,inf
28,"(98.56, 102.08]",28,1.000000,0.000129,28.0,0.0,0.000131,0.000000,inf,0.000000,NaN,inf
29,"(102.08, 105.6]",11,1.000000,0.000051,11.0,0.0,0.000051,0.000000,inf,0.000000,NaN,inf
30,"(105.6, 109.12]",19,1.000000,0.000088,19.0,0.0,0.000089,0.000000,inf,0.000000,NaN,inf
31,"(109.12, 112.64]",10,1.000000,0.000046,10.0,0.0,0.000047,0.000000,inf,0.000000,NaN,inf
32,"(112.64, 116.16]",10,1.000000,0.000046,10.0,0.0,0.000047,0.000000,inf,0.000000,NaN,inf
33,"(116.16, 119.68]",5,1.000000,0.000023,5.0,0.0,0.000023,0.000000,inf,0.000000,NaN,inf
34,"(119.68, 123.2]",11,1.000000,0.000051,11.0,0.0,0.000051,0.000000,inf,0.000000,NaN,inf
35,"(123.2, 126.72]",1,1.000000,0.000005,1.0,0.0,0.000005,0.000000,inf,0.000000,NaN,inf
36,"(126.72, 130.24]",2,1.000000,0.000009,2.0,0.0,0.000009,0.000000,inf,0.000000,NaN,inf
37,"(130.24, 133.76]",2,1.000000,0.000009,2.0,0.0,0.000009,0.000000,inf,0.000000,NaN,inf
38,"(133.76, 137.28]",2,1.000000,0.000009,2.0,0.0,0.000009,0.000000,inf,0.000000,NaN,inf
39,"(137.28, 140.8]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
40,"(140.8, 144.32]",1,1.000000,0.000005,1.0,0.0,0.000005,0.000000,inf,NaN,NaN,inf
41,"(144.32, 147.84]",2,1.000000,0.000009,2.0,0.0,0.000009,0.000000,inf,0.000000,NaN,inf
42,"(147.84, 151.36]",1,1.000000,0.000005,1.0,0.0,0.000005,0.000000,inf,0.000000,NaN,inf
43,"(151.36, 154.88]",3,1.000000,0.000014,3.0,0.0,0.000014,0.000000,inf,0.000000,NaN,inf
44,"(154.88, 158.4]",1,1.000000,0.000005,1.0,0.0,0.000005,0.000000,inf,0.000000,NaN,inf
45,"(158.4, 161.92]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
46,"(161.92, 165.44]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
47,"(165.44, 168.96]",0,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,inf
48,"(168.96, 172.48]",3,1.000000,0.000014,3.0,0.0,0.000014,0.000000,inf,NaN,NaN,inf
49,"(172.48, 176.0]",1,1.000000,0.000005,1.0,0.0,0.000005,0.000000,inf,0.000000,NaN,inf

In [47]:
df_inputs_prepr['mths_since_last_delinq:Missing']= np.where((df_inputs_prepr['mths_since_last_delinq'].isnull()),1,0)
df_inputs_prepr['mths_since_last_delinq:0-3'] = np.where((df_inputs_prepr['mths_since_last_delinq']>=0)&(df_inputs_prepr['mths_since_last_delinq']<=3.76),1,0)
df_inputs_prepr['mths_since_last_delinq:3-18'] = np.where((df_inputs_prepr['mths_since_last_delinq']>3.76)&(df_inputs_prepr['mths_since_last_delinq']<=18.8),1,0)
df_inputs_prepr['mths_since_last_delinq:18-30'] = np.where((df_inputs_prepr['mths_since_last_delinq']>18.8)&(df_inputs_prepr['mths_since_last_delinq']<=30.08),1,0)
df_inputs_prepr['mths_since_last_delinq:30-82'] = np.where((df_inputs_prepr['mths_since_last_delinq']>30.08)&(df_inputs_prepr['mths_since_last_delinq']<=82.72),1,0)
df_inputs_prepr['mths_since_last_delinq:>82'] = np.where((df_inputs_prepr['mths_since_last_delinq']>82.72),1,0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:Missing']= np.where((df_inputs_prepr['mths_since_last_delinq'].isnull()),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:0-3'] = np.where((df_inputs_prepr['mths_since_last_delinq']>=0)&(df_inputs_prepr['mths_since_last_delinq']<=3.76),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:3-18'] = np.where((df_inputs_prepr['mths_since_last_delinq']>3.76)&(df_inputs_prepr['mths_since_last_delinq']<=18.8),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:18-30'] = np.where((df_inputs_prepr['mths_since_last_delinq']>18.8)&(df_inputs_prepr['mths_since_last_delinq']<=30.08),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:30-82'] = np.where((df_inputs_prepr['mths_since_last_delinq']>30.08)&(df_inputs_prepr['mths_since_last_delinq']<=82.72),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1117186051.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_delinq:>82'] = np.where((df_inputs_prepr['mths_since_last_delinq']>82.72),1,0)

In [48]:
df_inputs_prepr['dti_factor'] = pd.cut(df_inputs_prepr['dti'],100)
df_inputs_prepr['dti:<=1.2'] = np.where((df_inputs_prepr['dti'] <= 1.2), 1, 0)
df_inputs_prepr['dti:1.2-4.3'] = np.where((df_inputs_prepr['dti'] > 1.2) & (df_inputs_prepr['dti'] <= 4.399), 1, 0)
df_inputs_prepr['dti:4.3-13.9'] = np.where((df_inputs_prepr['dti'] > 4.399) & (df_inputs_prepr['dti'] <= 13.997), 1, 0)
df_inputs_prepr['dti:13.9-21.9'] = np.where((df_inputs_prepr['dti'] > 13.997) & (df_inputs_prepr['dti'] <= 21.995), 1, 0)
df_inputs_prepr['dti:21.9-27.9'] = np.where((df_inputs_prepr['dti'] > 21.995) & (df_inputs_prepr['dti'] <= 27.993), 1, 0)
df_inputs_prepr['dti:27.9-30.7'] = np.where((df_inputs_prepr['dti'] > 27.993) & (df_inputs_prepr['dti'] <= 30.792), 1, 0)
df_inputs_prepr['dti:30.7-34.7'] = np.where((df_inputs_prepr['dti'] > 30.792) & (df_inputs_prepr['dti'] <= 34.791), 1, 0)
df_inputs_prepr['dti:>34.7'] = np.where((df_inputs_prepr['dti'] > 34.791), 1, 0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti_factor'] = pd.cut(df_inputs_prepr['dti'],100)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:<=1.2'] = np.where((df_inputs_prepr['dti'] <= 1.2), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:1.2-4.3'] = np.where((df_inputs_prepr['dti'] > 1.2) & (df_inputs_prepr['dti'] <= 4.399), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:4.3-13.9'] = np.where((df_inputs_prepr['dti'] > 4.399) & (df_inputs_prepr['dti'] <= 13.997), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:13.9-21.9'] = np.where((df_inputs_prepr['dti'] > 13.997) & (df_inputs_prepr['dti'] <= 21.995), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:21.9-27.9'] = np.where((df_inputs_prepr['dti'] > 21.995) & (df_inputs_prepr['dti'] <= 27.993), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:27.9-30.7'] = np.where((df_inputs_prepr['dti'] > 27.993) & (df_inputs_prepr['dti'] <= 30.792), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:30.7-34.7'] = np.where((df_inputs_prepr['dti'] > 30.792) & (df_inputs_prepr['dti'] <= 34.791), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\2530173839.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['dti:>34.7'] = np.where((df_inputs_prepr['dti'] > 34.791), 1, 0)

In [49]:
df_inputs_prepr_temp = df_inputs_prepr[pd.notnull(df_inputs_prepr['mths_since_last_record'])]
df_inputs_prepr_temp['mths_since_last_record_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_record'], 50)
df_temp = woe_ordered_continous(df_inputs_prepr_temp, 'mths_since_last_record_factor', df_targets_prepr[df_inputs_prepr_temp.index])
df_inputs_prepr['mths_since_last_record:Missing'] = np.where((df_inputs_prepr['mths_since_last_record'].isnull()), 1, 0)
df_inputs_prepr['mths_since_last_record:0-2'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 0) & (df_inputs_prepr['mths_since_last_record'] <= 2.42), 1, 0)
df_inputs_prepr['mths_since_last_record:2-12'] = np.where((df_inputs_prepr['mths_since_last_record'] > 2.42) & (df_inputs_prepr['mths_since_last_record'] <= 12.1), 1, 0)
df_inputs_prepr['mths_since_last_record:12-29'] = np.where((df_inputs_prepr['mths_since_last_record'] > 12.1) & (df_inputs_prepr['mths_since_last_record'] <= 29.04), 1, 0)
df_inputs_prepr['mths_since_last_record:29-33'] = np.where((df_inputs_prepr['mths_since_last_record'] > 29.04) & (df_inputs_prepr['mths_since_last_record'] <= 33.88), 1, 0)
df_inputs_prepr['mths_since_last_record:33-85'] = np.where((df_inputs_prepr['mths_since_last_record'] > 33.88) & (df_inputs_prepr['mths_since_last_record'] <= 84.7), 1, 0)
df_inputs_prepr['mths_since_last_record:>=85'] = np.where((df_inputs_prepr['mths_since_last_record'] > 84.7), 1, 0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr_temp['mths_since_last_record_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_record'], 50)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inputs_prepr_temp['mths_since_last_record_factor'] = pd.cut(df_inputs_prepr_temp['mths_since_last_record'], 50)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:Missing'] = np.where((df_inputs_prepr['mths_since_last_record'].isnull()), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:0-2'] = np.where((df_inputs_prepr['mths_since_last_record'] >= 0) & (df_inputs_prepr['mths_since_last_record'] <= 2.42), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:2-12'] = np.where((df_inputs_prepr['mths_since_last_record'] > 2.42) & (df_inputs_prepr['mths_since_last_record'] <= 12.1), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:12-29'] = np.where((df_inputs_prepr['mths_since_last_record'] > 12.1) & (df_inputs_prepr['mths_since_last_record'] <= 29.04), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:29-33'] = np.where((df_inputs_prepr['mths_since_last_record'] > 29.04) & (df_inputs_prepr['mths_since_last_record'] <= 33.88), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:33-85'] = np.where((df_inputs_prepr['mths_since_last_record'] > 33.88) & (df_inputs_prepr['mths_since_last_record'] <= 84.7), 1, 0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\1471912158.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_inputs_prepr['mths_since_last_record:>=85'] = np.where((df_inputs_prepr['mths_since_last_record'] > 84.7), 1, 0)

In [50]:
loan_data_inputs_2015 = df_inputs_prepr
loan_data_tragets_2015 = df_targets_prepr

In [51]:
loan_data_inputs_2015.shape

(421094, 319)

In [52]:
loan_data_tragets_2015.shape

(421094,)

In [53]:
loan_data_inputs_2015.to_csv('loan_data_inputs_2015.csv')
loan_data_tragets_2015.to_csv('loan_data_targets_2015.csv')

In [54]:
inputs_train_with_ref_cat = pd.read_csv('inputs_train_with_ref_cat.csv',index_col=0)

In [55]:
inputs_2015_with_ref_cat = loan_data_inputs_2015.loc[:,[
"Grade:A",
"Grade:B",
"Grade:C",
"Grade:D",
"Grade:E",
"Grade:F",
"Grade:G",
"home_ownership:RENT_OTHER_NONE_ANY",
"home_ownership OWN",
"home_ownership MORTGAGE",
"addr_state:NV_LA",
"addr_state:HI_SD",
"addr_state:AZ_PA_OK",
"addr_state:MD_FL_VA_MA",
"addr_state:AR_DE_WV_MO_IN",
"addr_state:OH_NC",
"addr_state:AL_MI",
"addr_state:TX_NJ_GA",
"addr_state:AK_WI",
"addr_state:WA_CT",
"addr_state:NH_KS_DC_WY_ME_ID",
"addr_state:NE_IA_MS_MT_TN_RI_ND",
"addr_state:NY",
"addr_state:CA",
"addr_state:VT",
"verification_status:Verified",
"verification_status:Not Verified",
"verification_status:Source Verified",
"purpose:edu_small_house_mov",
"purpose:other_med",
"purpose:debt",
"purpose:_vaca_credit",
"purpose:major_rene_car_wedd",
"initial_list_status:f",
"initial_list_status:w",
"term_int:36",
"term_int:60",
"emp_length_int:0",
"emp_length_int:1",
"emp_length_int:2-3",
"emp_length_int:4-5",
"emp_length_int:6-8",
"emp_length_int:9",
"emp_length_int:10",
"months_issue_date:<38",
"months_issue_date:40-49",
"months_issue_date:49-56",
"months_issue_date:56-60",
"months_issue_date:60-66",
"months_issue_date:66-74",
"months_issue_date:74-82",
"months_issue_date:>82",
"int_rate:<7.071",
"int_rate:7.071-11.199",
"int_rate:11.199-13.263",
"int_rate:13.263-15.327",
"int_rate:15.327-19.868",
"int_rate:19.868-25.234",
"int_rate:>25.324",
"mths_since_earliest_cr_line_factor:<126",
"mths_since_earliest_cr_line_factor:126-173",
"mths_since_earliest_cr_line_factor:173-345",
"mths_since_earliest_cr_line_factor:345-438",
"mths_since_earliest_cr_line_factor:>438",
"inq_last_6mths:0-3",
"inq_last_6mths:3-6",
"inq_last_6mths:>6",
"acc_now_delinq:0",
"acc_now_delinq:>=1",
"annual_inc:<20K",
"annual_inc:20K-30K",
"annual_inc:30K-40K",
"annual_inc:40K-50K",
"annual_inc:50K-60K",
"annual_inc:60K-70K",
"annual_inc:70K-80K",
"annual_inc:80K-90K",
"annual_inc:90K-100K",
"annual_inc:100K-120K",
"annual_inc:120K-140K",
"annual_inc:>140K",
"mths_since_last_delinq:Missing",
"mths_since_last_delinq:0-3",
"mths_since_last_delinq:3-18",
"mths_since_last_delinq:18-30",
"mths_since_last_delinq:30-82",
"mths_since_last_delinq:>82",
"dti:<=1.2",
"dti:1.2-4.3",
"dti:4.3-13.9",
"dti:13.9-21.9",
"dti:21.9-27.9",
"dti:27.9-30.7",
"dti:30.7-34.7",
"dti:>34.7",
"mths_since_last_record:Missing",
"mths_since_last_record:0-2",
"mths_since_last_record:2-12",
"mths_since_last_record:12-29",
"mths_since_last_record:29-33",
"mths_since_last_record:33-85",
"mths_since_last_record:>=85",
]]

In [56]:
df_scorecard = pd.read_csv('C:\Programming\Data science\Credit risk modelling\pd_model\df_scorecard.csv' , index_col=0)
df_scorecard

,index,Feature name,Coefficients,p_values,Original feature name,Score-Calculations,Score-Preliminary,Difference,Score-Final
0,0,Intercept,-1.352940,NaN,Intercept,326.723463,327.0,0.276537,327.0
1,1,Grade:A,1.646616,4.257252e-19,Grade,77.201997,77.0,-0.201997,77.0
2,2,Grade:B,1.162325,3.214945e-12,Grade,54.495911,54.0,-0.495911,54.0
3,3,Grade:C,0.942375,4.764591e-10,Grade,44.183473,44.0,-0.183473,44.0
4,4,Grade:D,0.664746,2.749623e-06,Grade,31.166771,31.0,-0.166771,31.0
...,...,...,...,...,...,...,...,...,...
98,12,acc_now_delinq:0,0.000000,NaN,acc_now_delinq,0.000000,0.0,0.000000,0.0
99,13,annual_inc:<20K,0.000000,NaN,annual_inc,0.000000,0.0,0.000000,0.0
100,14,mths_since_last_delinq:0-3,0.000000,NaN,mths_since_last_delinq,0.000000,0.0,0.000000,0.0
101,15,dti:>34.7,0.000000,NaN,dti,0.000000,0.0,0.000000,0.0
102,16,mths_since_last_record:0-2,0.000000,NaN,mths_since_last_record,0.000000,0.0,0.000000,0.0

In [57]:
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat
inputs_train_with_ref_cat_w_intercept = inputs_train_with_ref_cat_w_intercept[df_scorecard['Feature name'].values]
inputs_train_with_ref_cat_w_intercept.head()

,Intercept,Grade:A,Grade:B,Grade:C,Grade:D,Grade:E,Grade:F,home_ownership OWN,home_ownership MORTGAGE,addr_state:NV_LA,addr_state:HI_SD,addr_state:AZ_PA_OK,addr_state:MD_FL_VA_MA,addr_state:AR_DE_WV_MO_IN,addr_state:OH_NC,addr_state:AL_MI,addr_state:TX_NJ_GA,addr_state:AK_WI,addr_state:WA_CT,addr_state:NH_KS_DC_WY_ME_ID,addr_state:NY,addr_state:CA,addr_state:VT,verification_status:Not Verified,verification_status:Source Verified,purpose:other_med,purpose:debt,purpose:_vaca_credit,purpose:major_rene_car_wedd,initial_list_status:w,term_int:36,emp_length_int:1,emp_length_int:2-3,emp_length_int:4-5,emp_length_int:6-8,emp_length_int:9,emp_length_int:10,months_issue_date:<38,months_issue_date:40-49,months_issue_date:49-56,months_issue_date:56-60,months_issue_date:60-66,months_issue_date:66-74,months_issue_date:74-82,int_rate:<7.071,int_rate:7.071-11.199,int_rate:11.199-13.263,int_rate:13.263-15.327,int_rate:15.327-19.868,int_rate:19.868-25.234,mths_since_earliest_cr_line_factor:126-173,mths_since_earliest_cr_line_factor:173-345,mths_since_earliest_cr_line_factor:345-438,mths_since_earliest_cr_line_factor:>438,inq_last_6mths:0-3,inq_last_6mths:3-6,acc_now_delinq:>=1,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:Missing,mths_since_last_delinq:3-18,mths_since_last_delinq:18-30,mths_since_last_delinq:30-82,mths_since_last_delinq:>82,dti:<=1.2,dti:1.2-4.3,dti:4.3-13.9,dti:13.9-21.9,dti:21.9-27.9,dti:27.9-30.7,dti:30.7-34.7,mths_since_last_record:Missing,mths_since_last_record:2-12,mths_since_last_record:12-29,mths_since_last_record:29-33,mths_since_last_record:33-85,mths_since_last_record:>=85,Grade:G,home_ownership:RENT_OTHER_NONE_ANY,addr_state:NE_IA_MS_MT_TN_RI_ND,verification_status:Verified,purpose:edu_small_house_mov,initial_list_status:f,term_int:60,emp_length_int:0,months_issue_date:>82,int_rate:>25.324,mths_since_earliest_cr_line_factor:<126,inq_last_6mths:>6,acc_now_delinq:0,annual_inc:<20K,mths_since_last_delinq:0-3,dti:>34.7,mths_since_last_record:0-2
427211,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
206088,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
136020,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0
412305,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
36159,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,1,0,0,0,0

In [58]:
inputs_2015_with_ref_cat_w_intercept = inputs_2015_with_ref_cat
inputs_2015_with_ref_cat_w_intercept.insert(0,'Intercept',1)
inputs_2015_with_ref_cat_w_intercept= inputs_2015_with_ref_cat_w_intercept[df_scorecard['Feature name'].values]
inputs_2015_with_ref_cat_w_intercept.head()

,Intercept,Grade:A,Grade:B,Grade:C,Grade:D,Grade:E,Grade:F,home_ownership OWN,home_ownership MORTGAGE,addr_state:NV_LA,addr_state:HI_SD,addr_state:AZ_PA_OK,addr_state:MD_FL_VA_MA,addr_state:AR_DE_WV_MO_IN,addr_state:OH_NC,addr_state:AL_MI,addr_state:TX_NJ_GA,addr_state:AK_WI,addr_state:WA_CT,addr_state:NH_KS_DC_WY_ME_ID,addr_state:NY,addr_state:CA,addr_state:VT,verification_status:Not Verified,verification_status:Source Verified,purpose:other_med,purpose:debt,purpose:_vaca_credit,purpose:major_rene_car_wedd,initial_list_status:w,term_int:36,emp_length_int:1,emp_length_int:2-3,emp_length_int:4-5,emp_length_int:6-8,emp_length_int:9,emp_length_int:10,months_issue_date:<38,months_issue_date:40-49,months_issue_date:49-56,months_issue_date:56-60,months_issue_date:60-66,months_issue_date:66-74,months_issue_date:74-82,int_rate:<7.071,int_rate:7.071-11.199,int_rate:11.199-13.263,int_rate:13.263-15.327,int_rate:15.327-19.868,int_rate:19.868-25.234,mths_since_earliest_cr_line_factor:126-173,mths_since_earliest_cr_line_factor:173-345,mths_since_earliest_cr_line_factor:345-438,mths_since_earliest_cr_line_factor:>438,inq_last_6mths:0-3,inq_last_6mths:3-6,acc_now_delinq:>=1,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:Missing,mths_since_last_delinq:3-18,mths_since_last_delinq:18-30,mths_since_last_delinq:30-82,mths_since_last_delinq:>82,dti:<=1.2,dti:1.2-4.3,dti:4.3-13.9,dti:13.9-21.9,dti:21.9-27.9,dti:27.9-30.7,dti:30.7-34.7,mths_since_last_record:Missing,mths_since_last_record:2-12,mths_since_last_record:12-29,mths_since_last_record:29-33,mths_since_last_record:33-85,mths_since_last_record:>=85,Grade:G,home_ownership:RENT_OTHER_NONE_ANY,addr_state:NE_IA_MS_MT_TN_RI_ND,verification_status:Verified,purpose:edu_small_house_mov,initial_list_status:f,term_int:60,emp_length_int:0,months_issue_date:>82,int_rate:>25.324,mths_since_earliest_cr_line_factor:<126,inq_last_6mths:>6,acc_now_delinq:0,annual_inc:<20K,mths_since_last_delinq:0-3,dti:>34.7,mths_since_last_record:0-2
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
4,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [59]:
inputs_2015_with_ref_cat_w_intercept.shape

(421094, 103)

In [60]:
inputs_train_with_ref_cat_w_intercept.shape

(373028, 103)

In [61]:
scorecard_scores = df_scorecard['Score-Final']
scorecard_scores = scorecard_scores.values.reshape(103,1)

In [62]:
y_score_train = inputs_train_with_ref_cat_w_intercept.dot(scorecard_scores)

In [63]:
y_score_train.head()

            0
427211  629.0
206088  648.0
136020  646.0
412305  546.0
36159   569.0

In [64]:
y_scores_2015 = inputs_2015_with_ref_cat_w_intercept.dot(scorecard_scores)
y_scores_2015.head()

       0
0  596.0
1  657.0
2  565.0
3  557.0
4  602.0

In [65]:
inputs_train_with_ref_cat_w_intercept = pd.concat([inputs_train_with_ref_cat_w_intercept,y_score_train],axis=1)
inputs_2015_with_ref_cat_w_intercept = pd.concat([inputs_2015_with_ref_cat_w_intercept,y_scores_2015],axis=1)

In [66]:
inputs_train_with_ref_cat_w_intercept.columns.values[inputs_train_with_ref_cat_w_intercept.shape[1]-1] = 'Score'
inputs_2015_with_ref_cat_w_intercept.columns.values[inputs_2015_with_ref_cat_w_intercept.shape[1]-1] = 'Score'

In [67]:
inputs_train_with_ref_cat_w_intercept.head()

,Intercept,Grade:A,Grade:B,Grade:C,Grade:D,Grade:E,Grade:F,home_ownership OWN,home_ownership MORTGAGE,addr_state:NV_LA,addr_state:HI_SD,addr_state:AZ_PA_OK,addr_state:MD_FL_VA_MA,addr_state:AR_DE_WV_MO_IN,addr_state:OH_NC,addr_state:AL_MI,addr_state:TX_NJ_GA,addr_state:AK_WI,addr_state:WA_CT,addr_state:NH_KS_DC_WY_ME_ID,addr_state:NY,addr_state:CA,addr_state:VT,verification_status:Not Verified,verification_status:Source Verified,purpose:other_med,purpose:debt,purpose:_vaca_credit,purpose:major_rene_car_wedd,initial_list_status:w,term_int:36,emp_length_int:1,emp_length_int:2-3,emp_length_int:4-5,emp_length_int:6-8,emp_length_int:9,emp_length_int:10,months_issue_date:<38,months_issue_date:40-49,months_issue_date:49-56,months_issue_date:56-60,months_issue_date:60-66,months_issue_date:66-74,months_issue_date:74-82,int_rate:<7.071,int_rate:7.071-11.199,int_rate:11.199-13.263,int_rate:13.263-15.327,int_rate:15.327-19.868,int_rate:19.868-25.234,mths_since_earliest_cr_line_factor:126-173,mths_since_earliest_cr_line_factor:173-345,mths_since_earliest_cr_line_factor:345-438,mths_since_earliest_cr_line_factor:>438,inq_last_6mths:0-3,inq_last_6mths:3-6,acc_now_delinq:>=1,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:Missing,mths_since_last_delinq:3-18,mths_since_last_delinq:18-30,mths_since_last_delinq:30-82,mths_since_last_delinq:>82,dti:<=1.2,dti:1.2-4.3,dti:4.3-13.9,dti:13.9-21.9,dti:21.9-27.9,dti:27.9-30.7,dti:30.7-34.7,mths_since_last_record:Missing,mths_since_last_record:2-12,mths_since_last_record:12-29,mths_since_last_record:29-33,mths_since_last_record:33-85,mths_since_last_record:>=85,Grade:G,home_ownership:RENT_OTHER_NONE_ANY,addr_state:NE_IA_MS_MT_TN_RI_ND,verification_status:Verified,purpose:edu_small_house_mov,initial_list_status:f,term_int:60,emp_length_int:0,months_issue_date:>82,int_rate:>25.324,mths_since_earliest_cr_line_factor:<126,inq_last_6mths:>6,acc_now_delinq:0,annual_inc:<20K,mths_since_last_delinq:0-3,dti:>34.7,mths_since_last_record:0-2,Score
427211,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,629.0
206088,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,648.0
136020,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,646.0
412305,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,546.0
36159,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,1,0,0,0,0,569.0

In [68]:
inputs_2015_with_ref_cat_w_intercept.head()

,Intercept,Grade:A,Grade:B,Grade:C,Grade:D,Grade:E,Grade:F,home_ownership OWN,home_ownership MORTGAGE,addr_state:NV_LA,addr_state:HI_SD,addr_state:AZ_PA_OK,addr_state:MD_FL_VA_MA,addr_state:AR_DE_WV_MO_IN,addr_state:OH_NC,addr_state:AL_MI,addr_state:TX_NJ_GA,addr_state:AK_WI,addr_state:WA_CT,addr_state:NH_KS_DC_WY_ME_ID,addr_state:NY,addr_state:CA,addr_state:VT,verification_status:Not Verified,verification_status:Source Verified,purpose:other_med,purpose:debt,purpose:_vaca_credit,purpose:major_rene_car_wedd,initial_list_status:w,term_int:36,emp_length_int:1,emp_length_int:2-3,emp_length_int:4-5,emp_length_int:6-8,emp_length_int:9,emp_length_int:10,months_issue_date:<38,months_issue_date:40-49,months_issue_date:49-56,months_issue_date:56-60,months_issue_date:60-66,months_issue_date:66-74,months_issue_date:74-82,int_rate:<7.071,int_rate:7.071-11.199,int_rate:11.199-13.263,int_rate:13.263-15.327,int_rate:15.327-19.868,int_rate:19.868-25.234,mths_since_earliest_cr_line_factor:126-173,mths_since_earliest_cr_line_factor:173-345,mths_since_earliest_cr_line_factor:345-438,mths_since_earliest_cr_line_factor:>438,inq_last_6mths:0-3,inq_last_6mths:3-6,acc_now_delinq:>=1,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:Missing,mths_since_last_delinq:3-18,mths_since_last_delinq:18-30,mths_since_last_delinq:30-82,mths_since_last_delinq:>82,dti:<=1.2,dti:1.2-4.3,dti:4.3-13.9,dti:13.9-21.9,dti:21.9-27.9,dti:27.9-30.7,dti:30.7-34.7,mths_since_last_record:Missing,mths_since_last_record:2-12,mths_since_last_record:12-29,mths_since_last_record:29-33,mths_since_last_record:33-85,mths_since_last_record:>=85,Grade:G,home_ownership:RENT_OTHER_NONE_ANY,addr_state:NE_IA_MS_MT_TN_RI_ND,verification_status:Verified,purpose:edu_small_house_mov,initial_list_status:f,term_int:60,emp_length_int:0,months_issue_date:>82,int_rate:>25.324,mths_since_earliest_cr_line_factor:<126,inq_last_6mths:>6,acc_now_delinq:0,annual_inc:<20K,mths_since_last_delinq:0-3,dti:>34.7,mths_since_last_record:0-2,Score
0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,596.0
1,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,657.0
2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,565.0
3,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,557.0
4,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,602.0

In [69]:
inputs_train_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=300) &(inputs_train_with_ref_cat_w_intercept['Score']<350),1,0)
inputs_train_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=350) &(inputs_train_with_ref_cat_w_intercept['Score']<400),1,0)
inputs_train_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=400) &(inputs_train_with_ref_cat_w_intercept['Score']<450),1,0)
inputs_train_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=450) &(inputs_train_with_ref_cat_w_intercept['Score']<500),1,0)
inputs_train_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=500) &(inputs_train_with_ref_cat_w_intercept['Score']<550),1,0)
inputs_train_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=550) &(inputs_train_with_ref_cat_w_intercept['Score']<600),1,0)
inputs_train_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=600) &(inputs_train_with_ref_cat_w_intercept['Score']<650),1,0)
inputs_train_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=650) &(inputs_train_with_ref_cat_w_intercept['Score']<700),1,0)
inputs_train_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=700) &(inputs_train_with_ref_cat_w_intercept['Score']<750),1,0)
inputs_train_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=750) &(inputs_train_with_ref_cat_w_intercept['Score']<800),1,0)
inputs_train_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_train_with_ref_cat_w_intercept['Score']>=800) &(inputs_train_with_ref_cat_w_intercept['Score']<850),1,0)

In [70]:
inputs_2015_with_ref_cat_w_intercept.columns.values

array(['Intercept', 'Grade:A', 'Grade:B', 'Grade:C', 'Grade:D', 'Grade:E',
       'Grade:F', 'home_ownership OWN', 'home_ownership MORTGAGE',
       'addr_state:NV_LA', 'addr_state:HI_SD', 'addr_state:AZ_PA_OK',
       'addr_state:MD_FL_VA_MA', 'addr_state:AR_DE_WV_MO_IN',
       'addr_state:OH_NC', 'addr_state:AL_MI', 'addr_state:TX_NJ_GA',
       'addr_state:AK_WI', 'addr_state:WA_CT',
       'addr_state:NH_KS_DC_WY_ME_ID', 'addr_state:NY', 'addr_state:CA',
       'addr_state:VT', 'verification_status:Not Verified',
       'verification_status:Source Verified', 'purpose:other_med',
       'purpose:debt', 'purpose:_vaca_credit',
       'purpose:major_rene_car_wedd', 'initial_list_status:w',
       'term_int:36', 'emp_length_int:1', 'emp_length_int:2-3',
       'emp_length_int:4-5', 'emp_length_int:6-8', 'emp_length_int:9',
       'emp_length_int:10', 'months_issue_date:<38',
       'months_issue_date:40-49', 'months_issue_date:49-56',
       'months_issue_date:56-60', 'months_issue_date:60-66',
       'months_issue_date:66-74', 'months_issue_date:74-82',
       'int_rate:<7.071', 'int_rate:7.071-11.199',
       'int_rate:11.199-13.263', 'int_rate:13.263-15.327',
       'int_rate:15.327-19.868', 'int_rate:19.868-25.234',
       'mths_since_earliest_cr_line_factor:126-173',
       'mths_since_earliest_cr_line_factor:173-345',
       'mths_since_earliest_cr_line_factor:345-438',
       'mths_since_earliest_cr_line_factor:>438', 'inq_last_6mths:0-3',
       'inq_last_6mths:3-6', 'acc_now_delinq:>=1', 'annual_inc:20K-30K',
       'annual_inc:30K-40K', 'annual_inc:40K-50K', 'annual_inc:50K-60K',
       'annual_inc:60K-70K', 'annual_inc:70K-80K', 'annual_inc:80K-90K',
       'annual_inc:90K-100K', 'annual_inc:100K-120K',
       'annual_inc:120K-140K', 'annual_inc:>140K',
       'mths_since_last_delinq:Missing', 'mths_since_last_delinq:3-18',
       'mths_since_last_delinq:18-30', 'mths_since_last_delinq:30-82',
       'mths_since_last_delinq:>82', 'dti:<=1.2', 'dti:1.2-4.3',
       'dti:4.3-13.9', 'dti:13.9-21.9', 'dti:21.9-27.9', 'dti:27.9-30.7',
       'dti:30.7-34.7', 'mths_since_last_record:Missing',
       'mths_since_last_record:2-12', 'mths_since_last_record:12-29',
       'mths_since_last_record:29-33', 'mths_since_last_record:33-85',
       'mths_since_last_record:>=85', 'Grade:G',
       'home_ownership:RENT_OTHER_NONE_ANY',
       'addr_state:NE_IA_MS_MT_TN_RI_ND', 'verification_status:Verified',
       'purpose:edu_small_house_mov', 'initial_list_status:f',
       'term_int:60', 'emp_length_int:0', 'months_issue_date:>82',
       'int_rate:>25.324', 'mths_since_earliest_cr_line_factor:<126',
       'inq_last_6mths:>6', 'acc_now_delinq:0', 'annual_inc:<20K',
       'mths_since_last_delinq:0-3', 'dti:>34.7',
       'mths_since_last_record:0-2', 'Score'], dtype=object)

In [71]:
inputs_2015_with_ref_cat_w_intercept['Score:300-350'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=300) &(inputs_2015_with_ref_cat_w_intercept['Score']<350),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:350-400'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=350) &(inputs_2015_with_ref_cat_w_intercept['Score']<400),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:400-450'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=400) &(inputs_2015_with_ref_cat_w_intercept['Score']<450),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:450-500'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=450) &(inputs_2015_with_ref_cat_w_intercept['Score']<500),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:500-550'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=500) &(inputs_2015_with_ref_cat_w_intercept['Score']<550),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:550-600'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=550) &(inputs_2015_with_ref_cat_w_intercept['Score']<600),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:600-650'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=600) &(inputs_2015_with_ref_cat_w_intercept['Score']<650),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=650) &(inputs_2015_with_ref_cat_w_intercept['Score']<700),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=700) &(inputs_2015_with_ref_cat_w_intercept['Score']<750),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=750) &(inputs_2015_with_ref_cat_w_intercept['Score']<800),1,0)
inputs_2015_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=800) &(inputs_2015_with_ref_cat_w_intercept['Score']<850),1,0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4058865117.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  inputs_2015_with_ref_cat_w_intercept['Score:650-700'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=650) &(inputs_2015_with_ref_cat_w_intercept['Score']<700),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4058865117.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  inputs_2015_with_ref_cat_w_intercept['Score:700-750'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=700) &(inputs_2015_with_ref_cat_w_intercept['Score']<750),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4058865117.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  inputs_2015_with_ref_cat_w_intercept['Score:750-800'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=750) &(inputs_2015_with_ref_cat_w_intercept['Score']<800),1,0)
C:\Users\Admin\AppData\Local\Temp\ipykernel_1480\4058865117.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  inputs_2015_with_ref_cat_w_intercept['Score:800-850'] = np.where((inputs_2015_with_ref_cat_w_intercept['Score']>=800) &(inputs_2015_with_ref_cat_w_intercept['Score']<850),1,0)

# Population Stability Index : Calculation and Interperatation

In [72]:
PSI_calc_train = inputs_train_with_ref_cat_w_intercept.sum()/inputs_train_with_ref_cat_w_intercept.shape[0]

In [73]:
PSI_calc_2015 = inputs_2015_with_ref_cat_w_intercept.sum()/inputs_2015_with_ref_cat_w_intercept.shape[0]

In [74]:
PSI_calc = pd.concat((PSI_calc_train,PSI_calc_2015),axis=1)
PSI_calc

                      0         1
Intercept      1.000000  1.000000
Grade:A        0.160200  0.174154
Grade:B        0.294160  0.279287
Grade:C        0.268733  0.286318
Grade:D        0.164862  0.148789
...                 ...       ...
Score:600-650  0.259493  0.170760
Score:650-700  0.097931  0.021413
Score:700-750  0.024875  0.000000
Score:750-800  0.002941  0.000000
Score:800-850  0.000003  0.000000

[115 rows x 2 columns]

In [75]:
PSI_calc

                      0         1
Intercept      1.000000  1.000000
Grade:A        0.160200  0.174154
Grade:B        0.294160  0.279287
Grade:C        0.268733  0.286318
Grade:D        0.164862  0.148789
...                 ...       ...
Score:600-650  0.259493  0.170760
Score:650-700  0.097931  0.021413
Score:700-750  0.024875  0.000000
Score:750-800  0.002941  0.000000
Score:800-850  0.000003  0.000000

[115 rows x 2 columns]

In [79]:
PSI_calc = PSI_calc.reset_index()
PSI_calc['Original feature name'] = PSI_calc['index'].str.split(':').str[0]

In [80]:
PSI_calc.head()

       index         0         1 Original feature name
0  Intercept  1.000000  1.000000             Intercept
1    Grade:A  0.160200  0.174154                 Grade
2    Grade:B  0.294160  0.279287                 Grade
3    Grade:C  0.268733  0.286318                 Grade
4    Grade:D  0.164862  0.148789                 Grade

In [81]:
PSI_calc.columns = ['Index','Propertion_train','Proportion_Now','Original feature name']
PSI_calc

             Index  Propertion_train  Proportion_Now Original feature name
0        Intercept          1.000000        1.000000             Intercept
1          Grade:A          0.160200        0.174154                 Grade
2          Grade:B          0.294160        0.279287                 Grade
3          Grade:C          0.268733        0.286318                 Grade
4          Grade:D          0.164862        0.148789                 Grade
..             ...               ...             ...                   ...
110  Score:600-650          0.259493        0.170760                 Score
111  Score:650-700          0.097931        0.021413                 Score
112  Score:700-750          0.024875        0.000000                 Score
113  Score:750-800          0.002941        0.000000                 Score
114  Score:800-850          0.000003        0.000000                 Score

[115 rows x 4 columns]

In [82]:
PSI_calc = PSI_calc[np.array(['Index','Original feature name','Propertion_train','Proportion_Now'])]
PSI_calc

             Index Original feature name  Propertion_train  Proportion_Now
0        Intercept             Intercept          1.000000        1.000000
1          Grade:A                 Grade          0.160200        0.174154
2          Grade:B                 Grade          0.294160        0.279287
3          Grade:C                 Grade          0.268733        0.286318
4          Grade:D                 Grade          0.164862        0.148789
..             ...                   ...               ...             ...
110  Score:600-650                 Score          0.259493        0.170760
111  Score:650-700                 Score          0.097931        0.021413
112  Score:700-750                 Score          0.024875        0.000000
113  Score:750-800                 Score          0.002941        0.000000
114  Score:800-850                 Score          0.000003        0.000000

[115 rows x 4 columns]

* We don't need Intercept and Score for PSI calculation

In [86]:
PSI_calc = PSI_calc[(PSI_calc['Index'] != 'Intercept') & (PSI_calc['Index'] != 'Score')]
PSI_calc

             Index Original feature name  Propertion_train  Proportion_Now
1          Grade:A                 Grade          0.160200        0.174154
2          Grade:B                 Grade          0.294160        0.279287
3          Grade:C                 Grade          0.268733        0.286318
4          Grade:D                 Grade          0.164862        0.148789
5          Grade:E                 Grade          0.076702        0.082993
..             ...                   ...               ...             ...
110  Score:600-650                 Score          0.259493        0.170760
111  Score:650-700                 Score          0.097931        0.021413
112  Score:700-750                 Score          0.024875        0.000000
113  Score:750-800                 Score          0.002941        0.000000
114  Score:800-850                 Score          0.000003        0.000000

[113 rows x 4 columns]

In [91]:
PSI_calc['Contribution'] = np.where((PSI_calc['Propertion_train'] ==0) | (PSI_calc['Proportion_Now'] ==0),0,(PSI_calc['Proportion_Now'] - PSI_calc['Propertion_train'])*np.log(PSI_calc['Proportion_Now'] / PSI_calc['Propertion_train']))
PSI_calc.head()

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Index,Original feature name,Propertion_train,Proportion_Now,Contribution
1,Grade:A,Grade,0.160200,0.174154,0.001165
2,Grade:B,Grade,0.294160,0.279287,0.000772
3,Grade:C,Grade,0.268733,0.286318,0.001115
4,Grade:D,Grade,0.164862,0.148789,0.001649
5,Grade:E,Grade,0.076702,0.082993,0.000496

In [101]:
PSI_calc['Contribution'].max()

1.5476104012096956

In [98]:
PSI_calc.groupby('Original feature name')['Contribution'].sum()

Original feature name
Grade                                 0.006775
Score                                 0.270999
acc_now_delinq                        0.000925
addr_state                            0.006072
annual_inc                            0.005445
dti                                   0.084284
emp_length_int                        0.011079
home_ownership                        0.539709
home_ownership MORTGAGE               0.000357
home_ownership OWN                    0.003826
initial_list_status                   0.333717
inq_last_6mths                        0.009854
int_rate                              0.079531
months_issue_date                     1.547610
mths_since_earliest_cr_line_factor    0.063185
mths_since_last_delinq                0.011190
mths_since_last_record                0.054142
purpose                               0.011200
term_int                              0.013099
verification_status                   0.048219
Name: Contribution, dtype: float64

## As many dependent variable have higher PSI have so it is necessary to train the model again including the new 2015 dataset

* Variable like home_ownership, initial_list_status, month_issue_date are responsible for model false prediction
* Score have a high change from old dataset and new dataset